.debug {
  border: 1px solid red;
}
body {
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 80%);
  font-family: Fira Code, sans-serif;
  display: flex;
  justify-content: center;
  line-height: 2em;
}
.content p {
  text-indent: 1.5em;
  text-align: justify;
}
.content a {
  color: hsl(0, 100%, 30%);
  font-weight: bold;
  text-decoration: none;
  padding: 1px 2px 1px 2px;
}
.content a:hover {
  color: hsl(0, 0%, 15%);
  background-color: hsl(0, 100%, 30%);
}
.content a.external::after {
  content: "⤴";
}
.content h1,
h2,
h3 {
  color: hsl(0, 100%, 30%);
}
.content h1 {
  text-align: center;
}
.content h1::before {
  content: '⭔ ';
}
.content h1::after {
  content: ' ⭔';
}
.content ul {
  list-style: none;
  padding-left: 1.5em;
}
.content ul li::before {
  content: '⬝ ';
}
.content .title_timestamp {
  color: hsl(0, 0%, 50%);
  font-weight: normal;
  font-size: 65%;
}
.content .title_timestamp::after {
  content: ' ';
}
.content .timestamp {
  color: hsl(0, 0%, 50%);
}
.page {
  width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
.navigation a {
  color: hsl(0, 100%, 30%);
  margin-left: 8px;
  margin-right: 8px;
  padding: 4px 8px 4px 8px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid;
}
.navigation a:hover {
  color: hsl(0, 0%, 15%);
  background-color: hsl(0, 100%, 30%);
  border-color: hsl(0, 100%, 30%);
}
.navigation ul {
  list-style-type: none;
}
.navigation li {
  float: left;
}
.corner {
  width: 0;
  height: 0;
  border-top: 100px solid hsl(0, 100%, 30%);
  border-left: 100px solid transparent;
  position: absolute;
  top: 0;
  right: 0vw;
  visibility: hidden;
}
